* {
  box-sizing: border-box;
}

body {
  background-color: #defcf9;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  padding: 0;
}

p,
h1,
button,
input {
  font-family: "Roboto", sans-serif;
}

.calculator {
  border: 2px solid #3c84ab;
  border-radius: 32px;
  margin: 16px;
  padding: 32px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.calculator__title {
  font-size: 32px;
  text-align: center;
}

.calculator__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}

.calculator__container__expression-input {
  height: 48px;
  width: 100%;
  border: 1px solid #3c84ab;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
}

.calculator__container__calc-button {
  height: 48px;
  width: 100%;
  border: 1px solid #3c84ab;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  color: #defcf9;
  background-color: #3c84ab;
}

.calculator__result {
  font-size: 24px;
  padding: 0 24px;
}

/* Mobile */
@media screen and (max-width: 500px) {
  .calculator {
    padding: 24px;
    max-width: 400px;
    min-width: 300px;
  }

  .calculator__container {
    flex-direction: column;
  }

  .calculator__title {
    font-size: 20px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  .calculator {
    padding: 16px;
    min-width: 260px;
  }
}
